header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #354a5f;
    color: #fff;
    padding: 8px 20px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    z-index: 10;
}


header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
