<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="{% include pageroot.md %}/docs/static/docs.css" >
        <title>CoreUI Docs: {{ page.title }}</title>
    </head>
    <body>
        <div id="body">
            {% include header.html url=page.url %}
            <div id="content">
                {{ content | toc_only }}
            </div>
        </div>
        {% include search.html %}
    </body>
</html>
